.listsWrapper {
  width: 80%;
  margin: auto;
  margin-top: 6em;
}
.listsHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listsHeaderWrapper > button {
  padding: 1.25em 4em;
  background-color: azure;
}
.listsFormWrapper {
  width: 20%;
  height: 20rem;
}
.listsFormWrapper form {
  display: flex;
  height: 3rem;
}

.listsTitleInput {
  border: 1px solid black;
  font-size: 1.25rem;
  padding: 0 1em;
}
.listsSubmitInput {
  margin-left: 1em;
  background-color: azure;
  padding: 0 2em;
  cursor: pointer;
}
