.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}
ol,
ul {
  list-style: none;
  margin: 0;
}
body {
  /* background-color: #f1f2f6; */
  background-color: var(--white);
}
* {
  box-sizing: border-box;
  border: none;
}
a {
  text-decoration: none;
  color: black;
}
input:focus {
  outline: none;
}
:root {
  --white: #ffffff;
  --darker-white: #f1f2f6;
  --light-gray: #dfe4ea;
  --darker-gray: #ced6e0;
  --darkest-gray: #a4b0be;
  --dark: #2f3542;
}
