.quantityChangerWrapper {
  height: 3rem;
  width: 8rem;
  display: flex;
  align-items: center;
  border: 1px solid #688093;
  border-radius: 15px;
}
.addToCartButton {
  padding: 1.5em 2.5em;
  border-radius: 10px;
}
