.savedProductsWrapper {
  margin-top: 8em;
}
.savedProductsTitle {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}
.savedProductsListWrapper {
  width: 80%;
  margin: auto;
}

.listViewWrapper {
  display: flex;
  flex-direction: column;
}
.gridViewWrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 45rem;
  grid-gap: 4em;
  justify-content: center;
}
.gridViewBodyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gridViewBodyWrapper > div {
  width: 100%;
  height: 25rem;
  margin-right: 1em;
}
.gridViewBodyWrapper img {
  width: 100%;
  height: 100%;
}

.bodyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.bodyWrapper > div {
  width: 30%;
  height: 25rem;
  margin-right: 1em;
}
.bodyWrapper img {
  width: 100%;
  height: 100%;
}
.bodyWrapper h1 {
  width: 40%;
}
.bodyWrapper h2 {
  width: 20%;
}

/* Buttons */
.buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonsWrapper button {
  width: 100%;
}
