.productDetailsWrapper {
  width: 80%;
  height: 30rem;
  margin: auto;
  margin-top: 10em;
  display: flex;
}
.imageWrapper {
  margin-right: 2em;
  width: 30%;
  height: 100%;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
}

.productDetailsBodyWrapper {
  width: 100%;
}
.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.removeProductWrapper {
  width: 80%;
  margin: auto;
  margin-top: 4em;
}
.removeProductWrapper > button {
  padding: 1em 1.5em;
  font-size: 1.15rem;
  background-color: #eb4d4b;
}
