.productDetailsWrapper {
  width: 80%;
  height: 30rem;
  margin: auto;
  margin-top: 10em;
  display: flex;
}
.imageWrapper {
  margin-right: 2em;
  width: 80%;
  height: 100%;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonsWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}
.savedButton {
  margin-right: 1em;
  padding: 1.5em 2.5em;
}
