.toggleWrapper {
  display: flex;
  align-items: center;
}
.toggleWrapper > div {
  width: 4rem;
  height: 2rem;
  margin: 0 1em;
  background-color: var(--light-gray);
  position: relative;
  border-radius: 1em;
  cursor: pointer;
}
.toggleWrapper > h3 {
  text-shadow: 1px 1px var(--dark);
  color: var(--darker-gray);
}
.active {
  color: var(--dark) !important;
}
.toggleBallLeft {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translate(0, -50%);
  background-color: var(--darkest-gray);
  border-radius: 50%;
}
.toggleBallRight {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translate(0, -50%);
  background-color: var(--darkest-gray);
  border-radius: 50%;
}
